.benefits {
  @include list-reset;
  display: flex;
  color: $white;
  margin: 58px 0 0 83px;

  @media (max-width: $desktop-1120) {
    margin-left: 40px;
    flex-direction: column;
  }

  @media (max-width: $tablet-720) {
    padding: 30px 0 30px 15px;
    margin: 0;
  }
}

.benefits__icon {
  font-size: 14px;
  line-height: 18px;
  margin-right: 70px;
  letter-spacing: 0;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px 40px;
  padding-top: 75px;

  @media (max-width: $desktop-1280) {
    margin-right: 40px;
  }

  @media (max-width: $desktop-1120) {
    display: flex;
    align-items: center;
    padding-top: 0;
    height: 40px;
    padding-left: 60px;
  }

  @media (max-width: $tablet-720) {
    margin-bottom: 15px;
  }

  @media (max-width: $phone-420) {
    height: 37px;
    padding-left: 48px;
  }

  &--cog {
    background-image: url("../img/background/cog.png");
  }

  &--arm {
    background-image: url("../img/background/arm.png");
  }

  &--shield {
    background-image: url("../img/background/shield.png");
  }
}
