$container: 1440px;
$padding-desktop: 0;
$padding-desktop-min: 72px;
$padding-desktop-1280: 20px;
$padding-desktop-1024: 30px;
$padding-tablet-900: 25px;
$padding-tablet: 15px;


$desktop: 1639px;
$desktop-min: 1439px;
$desktop-1366: 1366px;
$desktop-1280: 1280px;
$desktop-1220: 1220px;
$desktop-1120: 1120px;
$desktop-1024: 1024px;
$tablet: 991px;
$tablet-900: 900px;
$tablet-768: 768px;
$tablet-720: 720px;
$tablet-600: 600px;
$phone: 480px;
$phone-420: 420px;
$phone-min: 320px;

$fontBase: "Theinhardt Pan", arial, sans-serif;


//colors
$blackest: #000000;
$black: #4a4a4a;
$orange: #e87018;
$light-orange: #ff9900;
$white: #ffffff;
$gray: #a09fa0;

$border-gray: #f0f0f1;
$thumb-border: #9c9c9c;
$button-gray: #f5f5f6;
